*{
    margin:5px;
    padding:0;
}
.headpart{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.headpart button{
    background-color:red;
    color:white;
    padding:10px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: Dancing Script;
    animation-name: butanime;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes butanime {
    0% {background-color: red;width: 79px;height: 39px;}
    25%{background-color: blue;width: 82px;height: 42px;}
    50%{background-color: chartreuse;color:white;width: 85px;height: 45px;}
    75%{background-color:indigo;color:white;width: 88px;height: 48px;}
    100%{background-color:orange;width:79px;height:39px;}    
}
.headpart button:hover{
    cursor: pointer;
}
.headpart img:hover{
    cursor: pointer;
}
.headpart h1{
    font-family:Protest Guerrilla ;
    font-size: 50px;
}
.headpart img{
   width: 2em;
   height: 2em;
}
.blogposts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap:20px;
}
.blogposts #c{
    width:600px;
    height:400px;
    padding:5px;
    background-color:rgba(245, 244, 233, 0.812);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}